<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pweb - Eloize</title>
    <link rel="icon" type="image/x-ico" th:href="@{/assets/favicon.ico}">
    <meta codigoSecreto="783118224">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href= "@{/assets/w3.css}"> 
    <link rel="stylesheet" th:href= "@{/assets/pico.min.css}"> 
</head>
<body>
    <div class="w3-container">
        <div class="w3-bar w3-black w3-xlarge">
            <a href="/" class="w3-bar-item w3-button w3-mobile w3-pale-yellow">Inicio</a>
            <a href="/adicionaPessoa" class="w3-bar-item w3-button w3-mobile">Adicionar Pessoa</a>
            <a href="/listaPessoas" class="w3-bar-item w3-button w3-mobile">Listar Pessoas</a>
            <a href="/public/contato.html" class="w3-bar-item w3-button w3-mobile w3-right">Contato</a>
            <a href="/public/sobre.html" class="w3-bar-item w3-button w3-mobile w3-right">Sobre o site</a>
            <a href="/public/noticias.html" class="w3-bar-item w3-button w3-mobile w3-right">Notícias</a>
          </div>
    </div>

    <h1 align="center"><b>Hidrate-se!</b></h1>

      <div>
        <img src="assets\agua.jpg">
      </div>

</body>
</html>